<head>
    <meta charset="utf-8">
    <title>Nokia e621 - <%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:title" content="Nokia e621 - <%- title %>">
    <meta name="theme-color" content="#0277bd">
    <meta property="og:description"
          content="Nokia e621 is a mirror of e621 designed to be lightweight and compatible with Nokia phones.">
    <meta name="description"
          content="Nokia e621 is a mirror of e621 designed to be lightweight and compatible with Nokia phones.">
</head>